body {
  margin: 0;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
}

.container-dynamic-block {
  margin: 0 auto 50px 0;
  overflow-x: auto;
}

.container-dynamic-block-title {
  margin: 30px auto;
  text-align: center;
  font-weight: 200;
  font-size : 1rem;
  font-family: Lexend;
}

.container-dynamic-block-title-error-403-404-500 {
  font-size : 1rem;
  text-align: center;
  margin-bottom: 30px;
}

.container-dynamic-block-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto 10px auto;
}

.navigation {
  margin-bottom: 80px;
}

.container-dynamic-block-group-item {
  display: flex;
  width: 380px;
  margin: 30px 40px;
  border: 1px solid rgba(0, 0, 0, 0.152);
  padding: 20px;
}

.container-dynamic-block-group-item:hover {
  border-color: rgb(0, 100, 128);
  transition: 1s ease;
}

.container-dynamic-block-group-item-properties,
.container-picture-difficulty {
  font-size: 0.9rem;
}

.container-dynamic-block-group-item-properties-name {
  font-weight: bold;
  font-size: 1rem;
}


.picture-cocktail-small {
  width: 150px;
  margin-right: 10px;
  height: 150px;
  border-radius: 50%;
}


.icon-container {
  display: flex;
  align-items: center;
}

.trash-icon {
  padding: 0;
  border: 0;
  background-color: #ffffff00;
  width: 19.52px;
  height: 27px;

}

.icon {
font-size: 1.35rem;
color: rgb(81, 80, 80);
}

.icon:hover {
color: rgb(0, 100, 128);
}

.icon-accept-proposition-cocktail,
.icon-delete-proposition-cocktail {
  font-size : 1.5rem;
}



.icon-accept-proposition-cocktail:hover
 {
  color : #008000;
}

.icon-delete-proposition-cocktail:hover
 {
  color : #ff0000;
}

.icon-eye-validation {
  font-size: 1.4rem;
}


.footer {
  margin-top: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px; /* Height of the footer */
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  z-index: 10;
}

.footer-content {
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 0;
}

.cocktail__poster {
  width: 200px;
  height: 200px;
  border-radius : 50%;
}


.container-picture-alcool {
  width: 265px;
  margin: 0 auto;
  padding: 16px;
  margin-bottom: 48px;
  display: flex;
  align-items :start;
 /* border: 1px solid rgba(0, 0, 0, 0.224);*/
}

.container-picture-preparationTime {
  font-size: 0.7rem;
}

.cocktail-is-alcool{
  font-size: 0.6rem;
  text-transform: uppercase;
  display: inline-block;
}

.cocktail-description,
.cocktail-preparation,
.cocktail-trick,
.cocktail-ingredient {
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  margin-top: 10px;
}

.cocktail-description-content,
.cocktail-preparation-content,
.cocktail-trick-content {
  font-size: 0.8rem;
  text-align: justify;
}

.cocktail-ingredients-list {
  font-size: 0.8rem;
  text-align: center;
}

.container-picture-description-ingredients-preparation-tricks {
  width: 80%;
  max-width: 477px;
  margin: 0 auto;
  background-color: #00000009;
  padding: 20px;
}

.container-icons {
  height: fit-content;
  justify-content: space-between;
}

.container-icons form {
  margin-top : 8px;
}

.icon-cocktail {
  width: 25px;
}

.container-icon-glass{
  height: 200px;
}

.footer-content a {
  color: black;
  text-decoration : none;
}

.container-dynamic-block-link {
  text-align: center;
  margin-top: 16px;
}

.picture-error-403-404-500 {
width: 50%;
max-width: 850px;
margin: 0 auto;
display: block;
}

.link-back-to-cocktails-list {
  width: 90vw;
  margin : 0 auto;
  text-align: center;
}

.container-picture-picture-error-403-404-500 {
  margin-bottom: 30px;
}

.container-block-error-403-404-500 {
  height: calc(100vh - 180px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link-back-to-cocktails-list a {
  text-decoration: none;
  color: black;
  font-style: italic;
}

/**********************/
/* MEDIA QUERIES */
/**********************/


@media (min-width: 959px) {

  .container {
    display: flex;
  }

  .container-dynamic-block {
    width: calc(100vw - 191.797px - 50px);
    margin: 0 auto;
  }


  .container-dynamic-block-title {
    margin: 30px 0 50px 0;
  }

  .container-dynamic-block-title-error-403-404-500 {
  font-size : 1.3rem;
}

  .footer-content {
    font-size: 0.9rem;
  }

  .container-cocktail {
    display: flex;
    align-items: center;
    width: 717px;
    margin: 0 auto;
  }
  .container-picture-alcool {
    align-items: center;
    width: 323px;
    margin : 0  50px 0 0;
   /* border: 1px solid rgba(0, 0, 0, 0.224);*/
}

.container-picture-description-ingredients-preparation-tricks {
  max-width: 620px;
}

}


@media (min-width: 1400px) {
  .container-dynamic-block {
    max-width: 1600px;
    margin: 50px auto;
  }

  .container-picture-description-ingredients-preparation-tricks {
    width: 500px;
  }

  .container-cocktail {
    width: 1000px;

  }

  .container-picture-alcool {
    width: 450px;
   /* border: 1px solid rgba(0, 0, 0, 0.224);*/  
}

.cocktail__poster {
  width: 300px;
  height: 300px;
  border-radius: 50%
}

.container-icon-glass{
  height: 300px;
}

}



@import"../../node_modules/bootstrap/scss/bootstrap.scss";



