form {
    margin-bottom : 0;
}

.container-form {
    background-color: rgba(81, 80, 80, 0.074); ;
    width: 85%;
    max-width : 800px;
    margin: 0 auto;
    padding: 30px;
}

.steps, .cocktailuses {
    list-style-type: none;
    display:flex;
    flex-direction : column;
    justify-content : center;
    padding-left : 0;

}

form hr:first-of-type{
    margin-top: 50px;
}

form li {
    margin-bottom: 30px;
}


.form-label  {
    text-transform: capitalize;
}

.form-button-add-step, .form-button-add-cocktailuses {
    background-color: rgba(128, 128, 128, 0) ;
    border: none;
    text-align : center;
    margin-bottom : 25px;
}

form li button {
    font-weight: bold;
}

/* button delete a step */
form li button {
    font-size: 0.9rem;
    background-color: rgba(128, 128, 128, 0) ;
    border: none;
}

/* submit button*/
.form-btn-submit {   
    width: 100px;
    margin: 0 auto;
    display: block;
}

fieldset  {

    margin-bottom: 0;
}


.form-title-steps {
text-align : center;
margin-top : 30px;
font-size : 1.2rem;
font-weight : bold;
}

.form-add-item-link {
    margin : 20px 0;
}

.form-add-item-link input {
    margin-bottom : 8px
}


@import"../../node_modules/bootstrap/scss/bootstrap.scss";