
ul.pagination {
    display: flex;
    align-items: center;
  }

  .page-item {
    margin : 0 10px;
  }

.page-item a {
    color: black;
  }
  a.page-link {
    border: none;
    
  }

  .page-item .page-link-next,
  .page-item .page-link-previous {
    font-size: 1.5rem;
  }

  li.page-item.active .page-link {
    background-color : rgb(15, 82, 118);
    border-radius : 50%
  }

li.page-item.disabled span.page-link {
    background-color : white;
    border : none;
}

@import"../../node_modules/bootstrap/scss/bootstrap.scss";