<form method="post" action="{{ path('app_ice_delete', {'id': ice.id}) }}" onsubmit="return confirm('Confirmer la suppression');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ice.id) }}">
	<button class="btn">
		<i class="bi bi-trash-fill me-2 icon"></i>
	</button>
</form>
