<div class="container-form">
{{ form_start(form) }}
{{form_row(form.name)}}
<button class="btn btn-success my-2 form-btn-submit" type="submit">{{ button_label|default('valider') }}</button>
{{ form_end(form) }}
</div>