{% extends 'base.html.twig' %}

{% block iceActive %}active{% endblock %}


{% block body %}

	<div class="container-dynamic-block">

		<h1 class="display-6 container-dynamic-block-title"> Ajouter un glaçon </h1>

		{{ include('ice/_form.html.twig') }}

		<p class="container-dynamic-block-link">
			<a href="{{ path('app_ice_index') }}">Retour à la liste des glaçons</a>
		</p>

	{% endblock %}

