{% extends 'base.html.twig' %}

{% block title %}Edit Glass{% endblock %}

{% block body %}
    <h1>Edit Glass</h1>

    {{ include('glass/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_glass_index') }}">back to list</a>

    {{ include('glass/_delete_form.html.twig') }}
{% endblock %}
