{% extends 'base.html.twig' %}

{% block glassActive %}active{% endblock %}


{% block body %}

	<div class="container-dynamic-block">
		<h1 class="display-6 container-dynamic-block-title">Modifier un verre</h1>

		{{ include('glass/_form.html.twig', {'button_label': 'Update'}) }}
		<p class="container-dynamic-block-link">
			<a href="{{ path('app_glass_index') }}">Retour à la liste des verres</a>
		</p>
	{% endblock %}

