{% extends 'base.html.twig' %}

{% block ingredientActive %}active{% endblock %}


{% block body %}

	<div class="container-dynamic-block">
		<h1 class="display-6 container-dynamic-block-title">Modifier un ingrédient</h1>

		{{ include('ingredient/_form.html.twig', {'button_label': 'Modifier'}) }}

		<p class="container-dynamic-block-link">
			<a href="{{ path('app_ingredient_index') }}">Retour à la liste des ingrédients
			</a>
		</p>
	{% endblock %}
