{% extends 'base.html.twig' %}

{% block cocktailActive %}active{% endblock %}


{% block body %}

	<div class="container-dynamic-block">
		<h1 class="display-6 container-dynamic-block-title">Ajouter un cocktail</h1>
		{% block subBody %}

			{{ include('cocktail/_form.html.twig') }}

			<p class="container-dynamic-block-link">
				<a href="{{ path('app_cocktail_index') }}">Retour à la liste des cocktails</a>
			</p>
		{% endblock %}

	</div>

</div>{% endblock %}
