{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-dynamic-block">

		<h1 class="display-6 container-dynamic-block-title">Les catégories
			<small class=" container-dynamic-block-button-add">
				<a href="{{path('app_category_new')}}">
					<i class="bi bi-patch-plus-fill"></i>
				</small>
			</a>
		</h1>

		<table class="table table-hover table-list ">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
				</tr>
			</thead>
			<tbody>
				{% for category in categories %}
					<tr>
						<td>{{ category.id }}</td>
						<td>{{ category.name }}</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	{% endblock %}
