<form method="post" action="{{ path('app_typeingredient_delete', {'id': typeingredient.id}) }}" onsubmit="return confirm('Confirmer la suppression');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ typeingredient.id) }}">
    <button class="btn">Supprimer</button>
</form>
