{% extends 'base.html.twig' %}

{% block body %}

	<div class="container-dynamic-block">
		<h1 class="display-6 container-dynamic-block-title">Ajouter un type d'ingrédient</h1>

		{{ include('typeingredient/_form.html.twig') }}

		<p class="container-dynamic-block-link">
			<a href="{{ path('app_typeingredient_index') }}">Retour à la liste des types d'ingrédient</a>
		</p>
	{% endblock %}

