{% extends 'base.html.twig' %}

{% block unitActive %}active{% endblock %}


{% block body %}

	<div class="container-dynamic-block">
		<h1 class="display-6 container-dynamic-block-title">Ajouter une unité</h1>

    {{ include('unit/_form.html.twig') }}
		<p class="container-dynamic-block-link">
    <a href="{{ path('app_unit_index') }}">Retour à la liste des unités</a>
    	</p>
{% endblock %}
